@keyframes rot {
  0% {
    transform: perspective(100rem) translateZ(-25rem); }
  50% {
    transform: perspective(100rem) translateZ(-25rem) rotateX(70deg) rotate(0); }
  100% {
    transform: perspective(100rem) translateZ(-25rem) rotateX(70deg) rotate(360deg); } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: black; }

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .container .board {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100rem;
    height: 100rem;
    margin: -50rem 0 0 -50rem;
    border-radius: 50%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.8)), linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.8)), radial-gradient(circle, #0019fd, transparent);
    background-size: 10rem 10rem, 10rem 10rem, 100% 100%;
    transform: perspective(100rem) translateZ(-25rem) rotateX(70deg);
    transform-style: preserve-3d;
    animation: rot 15s linear infinite; }
    @media only screen and (max-width: 48em) {
      .container .board {
        top: 0;
        left: 0;
        width: 85rem;
        height: 85rem;
        margin: -10rem 0 0 -5rem; } }
    @media only screen and (max-width: 23.5em) {
      .container .board {
        width: 42rem;
        height: 42rem;
        margin: 20rem 0 0 -3.2rem; } }
    @media only screen and (max-width: 48em) {
      .container .board {
        background-size: 8rem 8rem, 8rem 8rem, 100% 100%; } }
    @media only screen and (max-width: 23.5em) {
      .container .board {
        background-size: 4.5rem 4.5rem, 4.5rem 4.5rem, 100% 100%; } }
    .container .board .prison {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 25rem;
      height: 25rem;
      margin: -12.5rem 0 0 -12.5rem;
      transform-style: preserve-3d;
      transform: translateZ(12.5rem); }
      @media only screen and (max-width: 48em) {
        .container .board .prison {
          width: 20rem;
          height: 20rem; } }
      @media only screen and (max-width: 23.5em) {
        .container .board .prison {
          width: 10rem;
          height: 10rem;
          margin: -5rem 0 0 -5rem; } }
      .container .board .prison .wall {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 255, 0.2);
        border: 1rem solid rgba(0, 0, 255, 0.8); }
        .container .board .prison .wall:nth-child(1) {
          transform: translateZ(12.5rem);
          background-color: transparent; }
          @media only screen and (max-width: 48em) {
            .container .board .prison .wall:nth-child(1) {
              transform: translateZ(7.4rem); } }
          @media only screen and (max-width: 23.5em) {
            .container .board .prison .wall:nth-child(1) {
              transform: translateZ(-2.6rem); } }
        .container .board .prison .wall:nth-child(2) {
          transform: rotateY(180deg) translateZ(12.5rem); }
        .container .board .prison .wall:nth-child(3) {
          transform: rotateY(-90deg) translateX(-12.5rem);
          transform-origin: left; }
        .container .board .prison .wall:nth-child(4) {
          transform: rotateY(90deg) translateX(12.5rem);
          transform-origin: right; }
        .container .board .prison .wall:nth-child(5) {
          transform: rotateX(-90deg) translateZ(-12.5rem); }
          @media only screen and (max-width: 48em) {
            .container .board .prison .wall:nth-child(5) {
              transform: rotateX(-90deg) translateZ(-9.9rem) translateY(2.5rem); } }
          @media only screen and (max-width: 23.5em) {
            .container .board .prison .wall:nth-child(5) {
              transform: rotateX(-90deg) translateZ(-4.5rem) translateY(7.5rem); } }
        .container .board .prison .wall:nth-child(6) {
          transform: rotateX(-90deg) translateZ(12.5rem); }
          @media only screen and (max-width: 48em) {
            .container .board .prison .wall:nth-child(6) {
              transform: rotateX(-90deg) translateZ(10rem) translateY(2.5rem); } }
          @media only screen and (max-width: 23.5em) {
            .container .board .prison .wall:nth-child(6) {
              transform: rotateX(-90deg) translateZ(4.5rem) translateY(7.5rem); } }
